# License file
# include LICENSE

# README and the files it references
include README.md


# Tox configuration setting
include tox.ini

# Pytest configuration setting
recursive-include tests *.py

# Documentation
recursive-include docs/ *

